        .daynight {
            position:fixed;
            bottom:0; left:0;
            margin:11px;
            z-index:8; }  
        
        .daynight span {
	    font-size:16px;
            cursor:pointer;
            padding:9px;
            color:{color:accent};
            border:2px solid {color:accent}; }

        .daynight span:hover { background:rgba({RGBcolor:accent},0.4);}

/* -----------
        DARK MODE STYLING
                ----------- */

        body.night .daynight span {
	    color:{color:dark accent};
	    border:2px solid {color:dark accent}; }

        body.night .daynight span:hover { background:rgba({RGBcolor:dark accent},0.4); }

    /* == SCROLLBAR == */ 

        body.night ::-webkit-scrollbar-track:vertical {
	    background:rgba({RGBcolor:dark accent},0.4);
	    {block:ifpostscontainer}
		border-right:7px solid {color:dark posts container};
	    {/block:ifpostscontainer} }
        
        body.night ::-webkit-scrollbar-track:horizontal {
	    background:rgba({RGBcolor:dark accent},0.4);
	    {block:ifpostscontainer}
		border-bottom:7px solid {color:dark posts container};
	    {/block:ifpostscontainer} }
        
        body.night ::-webkit-scrollbar-thumb:horizontal {
	    background:rgba({RGBcolor:dark accent},0.6);
	    {block:ifpostscontainer}
		border-bottom:7px solid {color:dark posts container};
	    {/block:ifpostscontainer} }
		
        body.night ::-webkit-scrollbar-thumb:vertical { 
	    background:rgba({RGBcolor:dark accent},0.6);
	    {block:ifpostscontainer}
		border-right:7px solid {color:dark posts container};
	    {/block:ifpostscontainer} }
        
        body.night ::-webkit-scrollbar-button { background:rgba({RGBcolor:dark accent},0.75); }

        {block:ifpostscontainer}
	    body.night ::-webkit-scrollbar-button:vertical:decrement {
		border-right:7px solid {color:dark posts container};
		border-top:7px solid {color:dark posts container}; }
	    body.night ::-webkit-scrollbar-button:vertical:increment {
    		border-right:7px solid {color:dark posts container};
    		border-bottom:7px solid {color:dark posts container}; }
	    body.night ::-webkit-scrollbar-button:horizontal:decrement {
    		border-left:7px solid {color: dark posts container};
    		border-bottom:7px solid {color:dark posts container};}
	    body.night ::-webkit-scrollbar-button:horizontal:increment {
    		border-right:7px solid {color:dark posts container};
    		border-bottom:7px solid {color:dark posts container}; }
        {/block:ifpostscontainer}

	body.night ::-webkit-scrollbar-thumb:active,
	body.night ::-webkit-scrollbar-thumb:hover,
	body.night ::-webkit-scrollbar-button:vertical:decrement:hover,
	body.night ::-webkit-scrollbar-button:vertical:increment:hover,
	body.night ::-webkit-scrollbar-button:horizontal:decrement:hover, 
	body.night ::-webkit-scrollbar-button:horizontal:increment:hover {
	    background:{color:dark accent}; }

    /* == TOOLTIP == */

        body.night #s-m-t-tooltip { 
	    color:{color:dark accent};      
	    background-color:rgba({RGBcolor:dark posts}0.9); 
	    border:{color:dark accent} 1.5px solid; }

    /* == SELECTION == */

        body.night ::selection { background:{color:dark selection background}; color:{color:dark selection text}; }
        body.night ::-moz-selection { background:{color:dark selection background}; color:{color:dark selection text}; }
        body.night ::-webkit-selection { background:{color:dark selection background}; color:{color:dark selection text}; }

    /* == MAIN == */

        body.night { 
	    background:{color:dark background};
	    url({image:dark background});
 	    {block:iffullbackground} 
		background-size:cover;
	    {/block:iffullbackground} 
	    background-attachment:fixed; } 

        {block:ifpostscontainer}    
 	    body.night section { background:{color:dark posts container};
            border:2px solid {color:dark accent};}
        {/block:ifpostscontainer} 

        body.night header { 
	    background:{color:dark posts}; 
	    color:{color:dark accent};
	    border-bottom:2px solid {color:dark accent}; }

        body.night .prevpage a:hover, 
        body.night .nextpage a:hover,
        body.night .otherpage:hover { 
	    color:{color:dark accent text};
            border-bottom:1px solid {color:accent text}; }

        body.night #min-max-close .feather {stroke:{color:dark accent text};}
        body.night #min-max-close .feather { stroke:{color:accent text};} 

        body.night .currentpage { 
	    color:{color:dark accent};
	    border-bottom:1px solid {color:dark accent}; }

    /* == DESCRIPTION == */

        body.night #desc { 
	    background-color:{color:dark posts};
	    border:2px solid {color:dark accent}; 
	    border-top:none; 
	    color:{color:dark text}; } 

    /* == POSTS == */

        body.night .appndx { background:{color:dark accent}; }
        body.night .appndx a { color:{color:dark accent text}; }
        body.night .min-minz-close .feather { stroke:{color:dark accent text}; }

        body.night article { 
	    color:{color:dark text};
	    background-color:{color:dark posts};
	    border:2.5px solid {color:dark accent}; }

        body.night .doxs { 
	    background:{color:dark accent};
            border-right:2px solid {color:dark accent}; }  
            
        body.night .doxs a { color:{color:dark accent text}; }

    /* == NOTES == */

	body.night .notebox { border:2px solid {color:dark accent}; background:{color:dark posts}; }
	body.night .notes .action { color:rgba({RGBcolor:dark text},0.8); }
        body.night .more_notes_link_container a,        
        body.night .notey a { color:{color:dark text}; }
        body.night .ntype { color:{color:dark accent text}; }

        body.night .more_notes_link_container a:hover {
	    background:{color:dark accent};
	    color:{color:dark posts}; }
